body {
    margin: 0px;
    padding: 0px;
    background-image: url('pictures/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0 0 20px 20px;
    position: fixed;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1000;
    top: 0;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    padding: 0;

}

.navbar li {
    margin: 0;

}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    font-size: 24px;
    color: rgba(26, 26, 26, 0.8);
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.top h1 {
    margin-left: 45px;
    font-size: 84px;
    color: rgba(255, 255, 255, 0.659)
}

.contact-list {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    list-style: none;
    padding: 15px;
    vertical-align: middle;
    margin-right: 75px;
    line-height: 4px;
}

.linkedin-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-list a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 16px;
}

.contact-list a:hover {
    color: blue;
    text-decoration: underline;
}

.about-me-section {
    justify-content: space-around;
    margin: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.659)
}

.about-me-content {
    display: flex;
    align-items: center;
    margin: 45px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.profile-image {
    width: 175px;
    height: 200px;
    margin-right: 20px;
    border-radius: 2%;
    float: right;
}

.projects-section {
    justify-content: space-around;
    margin: 45px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.projects-section h1 {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.659)
}

.projects-content {
    display: flex;
    justify-content: space-evenly;
}

.project-info {
    color: rgba(255, 255, 255, 0.659);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    width: 200px;

}

.project-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    float: right;
}


.qualifications-title {
    text-align: center;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.659);
    margin-bottom: 0px;
}

.pdf-container {
    margin: 150px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.skill-section {
    margin: 10%;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    align-items: top;
}

.skill-section h2 {
    color: rgba(255, 255, 255, 0.659);
    font-size: 54px;
    display: flex;
    margin-right: 20%;
}

.skill-list {
    text-align: center;
    margin: 5%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.659);
}

.interests-section {
    margin: 10%;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.interests-section h2 {
    color: rgba(255, 255, 255, 0.659);
    font-size: 54px;
    display: flex;
    margin-right: 20%;
}

.interests-list {
    text-align: center;
    margin: 5%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.659);
}


.service-item {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

}

.service-item p {
    margin-left: 5%;
    margin-right: 10%;
    color: rgba(255, 255, 255, 0.659);
    font-size: 18px;
    width: 60%;
    text-align: center;
}

.service-item h2 {
    color: rgba(255, 255, 255, 0.659);
    font-size: 54px;
    margin-left: 35px;
    width: 15%
}

.service-picture {
    margin-left: 10%;
    height: 10%;
    width: 10%;
}

.image-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.image-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-link:hover::after {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}



.portfolio-item {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;

}

.portfolio-item p {
    margin-left: 5%;
    margin-right: 10%;
    color: rgba(255, 255, 255, 0.659);
    font-size: 18px;
    width: 40%;
    text-align: center;
}

.portfolio-item h2 {
    color: rgba(255, 255, 255, 0.659);
    font-size: 36px;
    margin-left: 35px;
    width: 15%
}

.portfolio-picture {
    margin-left: 10%;
    height: 8%;
    width: 8%;
}

a {
    text-decoration: none;
}